profiles {
  conda {
    process.conda = "$baseDir/environment.yml"
  }
  test {
    params.in = "$baseDir/testData/testFasta.fasta"
  }
  testgb {
    params.in = "$baseDir/testData/circo.gb"
    params.genBank = true
  }
}

manifest {
  name = 'TMRHarrison/Circrotate'
  author = 'Thomas Harrison'
  homePage = 'https://github.com/TMRHarrison/Circrotate'
  description = 'Automagically rotate circovirus genomes to their origin of replication.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.1'
  version = '1.1.0'
}
